<%= form_with(model: good, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if good.main_image.attached? %>
      <%= image_tag good.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>

<%= form_with(model: service, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if service.main_image.attached? %>
      <%= image_tag service.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>



<%= form_for @free, html: { multipart: true } do |form| %>
  <div style="width: 200px; height: auto;">
    <% if @free.main_image.attached? %>
      <%= image_tag @free.main_image, style: "width: 100%" %>
    <% end %>
    <div>
      <%= form.label :main_image %>
      <%= form.file_field :main_image %>
    </div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with(model: community, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if community.main_image.attached? %>
      <%= image_tag community.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>


<%= form_with(model: user_good, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if user_good.main_image.attached? %>
      <%= image_tag user_good.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>


<%= form_with(model: user_service, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if user_service.main_image.attached? %>
      <%= image_tag user_service.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>

<%= form_with(model: user_free_stuff, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
    <%= f.hidden_field :main_image_cache %>
    <% if user_free_stuff.main_image.attached? %>
      <%= image_tag user_free_stuff.main_image %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>